@keyframes fadeInUp {
    0% {
      transform: translateY(25%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
.fadeInUp-animation {
    animation: 1.5s fadeInUp;
  }

.card-wrapper {
    opacity: 0;
    transform: translateY(0px);
    transition: opacity 1s, transform 1s;
}

.card-wrapper.visible {
    opacity: 1;
    transition: opacity 1s, transform 1s;
}

.card-wrapper.down.visible {
    transform: translateY(-30px);
}

.card-wrapper.down.invisible {
  transform: translateY(-60px);
}

.card-wrapper.up.visible {
    transform: translateY(30px);
}

.card-wrapper.up.invisible {
  transform: translateY(60px);
}


/* @keyframes bg-color-change {
  0% {
      background-color: #4d2a91;
      
  }

  100% {
      background-color: #250d54;
      
}

body {
  animation: bg-color-change 20s linear forwards;
  animation-play-state: paused;
} */

