@media not all and (min-width: 768px) {
    .container nav ul{
        margin-top: 25px;
        padding-top: 15px;
        border-top: 2px solid white;
    }

    .menu1 {
        position: static;
        top:0;
    }

    .menu1 li{
        padding-left: 0 !important;
    }

    .card-wrapper {
        opacity: 1 !important;
        visibility: visible !important;
        transform: translateY(0px) !important;
    }

    .hero-content {
        padding: 10vh 0 !important;
    }

    .headline {
        font-size: 2.8em !important;
    }

    .subheadline {
        font-size: 1.5em !important;
    }

    .card {
        width: 80vw;
        height: auto;
        aspect-ratio: 1.6;
        padding: 15px;
        border-radius: 15px;
    }

    .content-eth {
        height: 100% !important;
    }

    .logo-eth-icon {
        width: 2em;
        height: auto;
    }


    .info-icon {
        width: 1em;
        height: auto;
    }

    .address {
        font-size: 0.5em !important;

    }

    .eth-parent .address,
    .div {
        font-size: 0.5em !important;
    }

    .ethereum,
    .eth1 {
        font-size: 0.4em !important;
    }




    .form-container {
        width: 80vw;
        height: auto;
        background: rgba(255, 255, 255, 0.1);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    .input-group {
        padding: 10px 15px;
    }

    .form-content .button {
        font-size: 1em;
    }

    .sidenav-wrapper {
        top: 0;
        position: sticky;
        z-index: 3;
        background-color: #1b2030;
    }

    .sidenav-wrapper nav {
        top: 0;
        position: sticky;
        display: flex;
        flex-direction: row-reverse;
    }

    .sidebar-navigation {
        width: 50vw !important;
        border: 0.1em solid;
        overflow: hidden;
        padding: 0 !important;
        height: 3em;
    }

    .sidebar-navigation li{
        background-color: transparent !important;
        visibility: hidden;
        position: fixed;
        text-align: center;
    }

    .sidebar-navigation li.active{
        visibility: visible;
        position: relative;
    }

    .content-section{
        padding: 0 0 2em 0;
    }

    .content-section h2 {
        font-size: 2em;
        line-height: 1.5;
        padding: 2em 0 1em;
    }

    .content-section p {
        font-size: 1em;
        line-height: 1.5;
        padding: 0 0 2em 0;
    }

    .content-section h3 {
        font-size: 1.5em;
        padding-top: 1em;
    }

    .content-section .card-container p {
        font-size: 1em;
        line-height: 1.5;
        padding: 1em 0 0.5em 0 !important;
    }


    #faq-title-block {
        padding-bottom: 3em;
    }

    #faq-title-block p {
        font-size: 1.5em;
    }

    .footer a {
        padding-left: 0;
    }
}