body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    

}

.canvas {
    text-align: center;
    padding: 200px 80px;
    background: linear-gradient(135deg, #1e1e2f, #7373d2);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -300px;
    
}

.background-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.dot {
    fill: rgba(255, 255, 255, 0.6);

}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

#content_container {
    display: flex;
    width: 100%;
}

#left_column {
    position: relative;
    flex: 1;
    
    left: 0;
}

#shape_container{
    position: sticky;
    top: 50%;
    margin: 100px 100px;
}

#left_column svg {
    display: block;
    margin: 0 auto;
}

#right_column {
    flex: 3;
    margin-left: 120px; /* Adjust margin to avoid overlap */
    padding: 20px;
}